@charset "utf-8";

/* GLOBAL */
*{margin:0;padding:0}
html{box-sizing:border-box;animation: fadein 3s;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
*,*:before,*:after{box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}
dl,ul,ol,menu,li{list-style:none}
table{border-collapse:collapse;border-spacing:0}
img,fieldset,iframe{border:0}
input[type="submit"],input[type="text"]{-webkit-appearance:none}
html,body{height:100%;}
body{margin:auto;font-family:'NanumSquare', 'MalgunGothic',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;font-size:14px;font-weight:400;color:#505050;}
strong{font-weight:bold}
.block{position:relative;overflow:hidden;}
/* GRID */
.grid,.grid2,.grid3,.grid4,.grid5{overflow:hidden;clear:both;width:100%;}
.grid:after,.grid2:after,.grid3:after,.grid4:after,.grid5:after{content:'';display:block;clear:both}
.grid [class*=col-],.grid [class*=cols-],.grid2 [class*=col-],.grid2 [class*=cols-],.grid3 [class*=col-],.grid3 [class*=cols-],
.grid4 [class*=col-],.grid4 [class*=cols-],.grid5 [class*=col-],.grid5 [class*=cols-]{position:relative;float:left;box-sizing:border-box;}

.grid{margin-left:-20px;padding-left: 20px;}.grid [class*=col-],.grid [class*=cols-]{padding-left:20px;padding-bottom:20px;}
.grid3{margin-left:-15px;padding-left: 15px;}.grid3 [class*=col-],.grid3 [class*=cols-]{padding-left:15px;padding-bottom:15px;}
.grid4{margin-left:-10px;padding-left: 10px;}.grid4 [class*=col-],.grid4 [class*=cols-]{padding-left:10px;padding-bottom:10px;}
.grid5{margin-left:-7px;padding-left: 7px;}.grid5 [class*=col-],.grid5 [class*=cols-]{padding-left:7px;padding-bottom:7px;}

.cols-12{width:8.333%}.cols-11{width:9.090%}.cols-10{width:10%}.cols-9{width:11.111%}.cols-8{width:12.5%}.cols-7{width:14.285%}.cols-6{width:16.666%}.cols-5{width:20%}.cols-4{width:25%}.cols-3{width:33.333%}.cols-2{width:50%}.cols-1{width:100%}

.col-1{width:8.333%}.col-2{width:16.629%}.col-3{width:25%}.col-4{width:33.3333333%}.col-5{width:41.66%}.col-6{width:50%}.col-7{width:58.33%}.col-8{width:66.66%}.col-9{width:75%}.col-10{width:83.33%}.col-11{width:91.66%}.col-12{width:100%}

@media(max-width:1024px){.col-4,.cols-3{width:50% !important}}
@media(max-width:700px){.grid [class*=col-],.grid [class*=cols-],.grid2 [class*=col-],.grid2 [class*=cols-],.grid3 [class*=col-],.grid3 [class*=cols-],.grid4 [class*=col-],.grid4 [class*=cols-],.grid5 [class*=col-],.grid5 [class*=cols-]{width:100% !important}}
@media screen and (max-width:1911px){.list-items .col-4,.list-items .cols-3{width:33.33333%}}
@media screen and (max-width:1309px){.list-items .col-4,.list-items .cols-3{width:50%}}
@media screen and (max-width:707px){.list-items .col-3,.list-items .cols-4{width:100%}}
@media screen and (max-width:1461px){.list-items .col-3,.list-items .cols-4{width:33.33333%}}
@media screen and (max-width:1009px){.list-items .col-3,.list-items .cols-4{width:50%}}
@media screen and (max-width:557px){.list-items .col-3,.list-items .cols-4{width:100%}}
@media screen and (max-width:1549px){.list-items .cols-5{width:25%}}
@media screen and (max-width:1188px){.list-items .cols-5{width:33.33333%}}
@media screen and (max-width:827px){.list-items .cols-5{width:50%}}
@media screen and (max-width:466px){.list-items .cols-5{width:100%}}
@media screen and (max-width:1687px){.list-items .cols-8{width:14.28571%}}
@media screen and (max-width:1461px){.list-items .cols-8{width:16.66667%}}
@media screen and (max-width:1235px){.list-items .cols-8{width:20%}}
@media screen and (max-width:1009px){.list-items .cols-8{width:25%}}
@media screen and (max-width:783px){.list-items .cols-8{width:33.33333%}}
@media screen and (max-width:557px){.list-items .cols-8{width:50%}}
@media screen and (max-width:331px){.list-items .cols-8{width:100%}}

.list-flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.list-flex [class*=col-],.list-flex [class*=cols-]{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.list-flex .box-item,.list-flex .box-info{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-align-content:stretch;-ms-flex-line-pack:stretch;align-content:stretch}
.list-flex .box-info,.list-flex .box-info .content{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}


/* customizing */
.w-100p{width: 100%;}
body{background-color: #fffff7;}
#top-visual{margin-bottom: 150px; position: relative;padding-top: 120px; background:url(../images/bg_visual.png) right bottom no-repeat;}
#top-visual em{padding:0 80px 0 10px;position: relative;display: inline-block;background-color: #ff7e20;color: #fff; font-family: 'MalgunGothic',sans-serif;margin:0 0 40px 490px;font-size: 20px;font-style: normal;line-height: 2.2;}
#top-visual em:before,#top-visual em:after{top:0;content: '';position: absolute;width:26px;height: 100%;background-color: #ff7e20;}
#top-visual em:before{left: -20px;transform: skew(10deg, 0deg);}
#top-visual em:after{right: -30px;width: 44px; transform: skew(-30deg, 0deg);}
#top-visual h1:before{content: '';position: absolute;top:10px;left:0;width: 434px;height: 533px;background:url(../images/logo.png) 0 0 no-repeat;}
#top-visual h1{margin-bottom: 70px; padding-left:480px;font-size: 50px;color:#323a8e;font-weight:800;}
#top-visual h1 span{display: block;color:#f57719;line-height: 1.4;}
#top-visual p{background-color: #213388;padding-left: 480px; color: #fff;font-size: 18px;font-family: 'MalgunGothic',sans-serif;line-height: 2.4;}

#content{padding: 0 40px  0 50px;}
#content img{max-width: 100%;}
h2{margin-bottom: 20px; padding-bottom:12px;font-size: 38px;color: #000;letter-spacing: -2px;border-bottom: 2px solid #999;font-weight:800;}
.alert-txt01{font-family: 'MalgunGothic',sans-serif;text-align: right;color: red;font-size: 18px;}
h3.style01{margin-bottom: 10px; font-size: 24px;color: #3861b1;letter-spacing: -2px;font-weight:800;}
h3.style01:before{content: "■";font-size: 16px;padding-right: 14px;}
.info02{padding-top: 12px; font-family: 'MalgunGothic',sans-serif;font-size: 18px;word-wrap: break-word;word-break: keep-all;}
.info02 dt{float: left;font-weight: bold;}
.info02 dd{padding: 0 0 14px 130px;}

table.price{margin-bottom: 80px; width:100%;table-layout: fixed;border:1px solid #17171c;line-height: 1.8;font-size: 18px;text-align: center;font-family: 'MalgunGothic',sans-serif;}
table.price thead th{ background-color: azure;color: #17171c;}
table.price th,table.price td{border:1px solid #777;padding:10px 0;}
table.price tbody th{background-color: #fafafa;}
.price-info{margin: 20px 0 80px; padding: 30px 30px 30px 80px; font-size: 18px;font-family: 'MalgunGothic',sans-serif;background: url('../images/ico_01.png') 30px 30px no-repeat #efefef;line-height: 1.8;word-wrap: break-word;word-break: keep-all;}
.price-info h4{margin-bottom: 6px;}
.price-info p{margin-bottom: 30px;}
.event-info{padding:16px;margin-bottom: 20px; font-size: 16px; line-height: 1.6; font-family: 'MalgunGothic',sans-serif;background: #efefef;word-wrap: break-word;word-break: keep-all;}

.membership{padding-top:20px;padding-bottom: 50px; line-height: 1.8;font-size: 18px;font-family: 'MalgunGothic',sans-serif;}
.membership .box-info{background-color: #fff; border: 1px solid #aaa;border-radius: 10px;padding: 20px 30px;word-wrap: break-word;word-break: keep-all;}
.membership dl{border-top:1px solid #ccc;padding-top: 20px;}
.membership dt{font-weight: bold;}
.membership dd{padding-bottom: 10px;}
.membership img{display: block;width: 100%;}

.floor-info{margin-bottom: 40px; background-position:right bottom;background-repeat:no-repeat;}
.floor-info.floor1{background-image:url(../images/about_img01_01.png);background-size:320px }
.floor-info.floor2{background-image:url(../images/about_img02_01.png);background-size:340px}
.floor-info h2{margin-bottom:56px;margin-left:100px;padding-left:20px; position: relative;}
.floor-info h2 span{position: absolute;left: -110px;top:-14px; background:url(../images/bg_num.png) 0 0 no-repeat;width: 110px;height: 71px;color: #fff;padding: 20px 0 0 40px;font-size: 30px;}
.floor-info strong{font-size: 22px;display: block;padding-bottom: 20px;}
.floor-info p,.big-txt{padding:16px 360px 30px 10px;  font-size: 22px;color:#000;word-wrap: break-word;word-break: keep-all;line-height: 1.6;}
.floor-info.no-bg p{padding-right: 20px;}
.big-txt{padding: 0 0 20px 0;}


.poche{position: relative;margin-bottom: 50px;}
.poche img{vertical-align: middle;width: 100%;}
.poche .num{position: absolute;width: 49px;height: 52px;background:url(../images/bg_pointer.png) 0 0 no-repeat;background-size: contain;text-align: center;color: #fff;font-size: 22px;font-weight: 800;padding-top: 10px;}
.floor ul{overflow: hidden;}
.floor li{font-size: 20px;font-family: 'MalgunGothic',sans-serif;color: #333;text-decoration: none;font-weight: bold;white-space:nowrap; display: block;padding-bottom: 10px;}
.floor li span{display: inline-block;padding: 0 10px; background-color:#ff0000;color: #fff;}
.floor li img{margin-top: 6px; display: block;vertical-align: middle;object-fit: cover;width: 100%; height: 170px;}

.floor{margin-bottom: 100px;}

.floor.floor1 .n1{top:45%;left:46%;}
.floor.floor1 .n2{top:48%;left:36%;}
.floor.floor1 .n3{top:68%;left:56%;}
.floor.floor1 .n4{top:19%;left:34%;}
.floor.floor1 .n5{top:13%;left:24%;}
.floor.floor1 .n6{top:15%;left:10%;}
.floor.floor1 .n7{top:17%;right:25%;}


.floor.floor2-1 .n1{top:12%;left:6%;}
.floor.floor2-1 .n2{top:14%;left:28%;}
.floor.floor2-1 .n3{top:14%;left:48%;}
.floor.floor2-1 .n4{top:10%;left:58%;}


.floor.floor2-2 .n1{top:15%;right:10%;}
.floor.floor2-2 .n2{top:41%;right:18%;}
.floor.floor2-2 .n3{top:68%;right:20%;}
.floor.floor2-2 .n4{top:77%;right:34%;}



.pop_layer {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.popup_visible .pop_layer {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.pop_layer{max-width: 1000px;width:96%;max-height: 86%; background:#fff;border: 10px solid #00a59f;padding: 40px 40px 80px 40px;overflow: auto;}
.pop_layer h3{padding-bottom: 20px; font-size: 44px;color: #000;}
.pop_layer .btn_close{position:absolute;top: 20px;right: 30px; background:url(../images/btn_close.gif) 0 0 no-repeat;font-size: 0;text-indent: -10000px;display: block; width:80px;height: 80px;border: 0;}
.pop_layer img.visual{vertical-align: middle;max-width: 100%;object-fit: cover;}
.pop_layer .txt01{margin-bottom: 40px; padding: 14px 20px;font-size: 22px; background-color: #efefef;line-height: 1.5;color:#000;font-weight: bold;}
.pop_layer .info01{font-family: 'MalgunGothic',sans-serif;font-size: 18px;}
.pop_layer .info01 dt{float: left;font-weight: bold;}
.pop_layer .info01 dd{padding: 0 0 14px 100px;}
.pop_layer .info01.non-float dt{float: none;padding-bottom: 10px;}
.pop_layer .info01.non-float dd{padding-left: 20px;}
.pop_layer .youtube{width: 100%;height: 500px;}

.popup_wrapper{overflow: hidden !important;}
.bx-wrapper,.bxslider img,.bx-viewport{height: 570px !important;}
.bxslider,.bxslider li{width: 100% !important;height: 100% !important;}
.bx-wrapper{position:relative;margin-bottom:12px;padding:0;-ms-touch-action:pan-y;touch-action:pan-y;}

.bxslider img{width: 100%;}
.bxslider{margin:0;padding:0;}
.bx-viewport{-webkit-transform:translateZ(0);}
.bx-wrapper .bx-controls-auto{position:absolute;bottom:-30px;width:100%}
.bx-controls-direction{position:absolute;top:180px;width:100%;z-index:1000; }
.bx-controls-direction a{position:absolute;font-size: 0;text-indent: -10000px;display: block; width:57px;height: 112px;}
.bx-controls-direction .bx-prev{left:20px;background:url(../images/arrow_b_l.png) 0 0 no-repeat;}
.bx-controls-direction .bx-next{right:20px;background:url(../images/arrow_b_r.png) 0 0 no-repeat;}
.bx-wrapper .bx-caption{position:absolute;bottom:0;right:0;background:#000;background:rgba(0,0,0,.6);width: 100%;}
.bx-wrapper .bx-caption span{color:#fff;display:block;font-size:16px;padding:10px;font-family: 'MalgunGothic',sans-serif;}

/* PAGER */
.bx-wrapper .bx-pager {
  position: absolute;
  bottom: -40px;
  width: 100%;
}
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 6px;
  outline: 0;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

